<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :teacher_id %><br>
    <%= collection_select(:schedule, :teacher_id, Teacher.all, :id, :firstname, prompt: false, class: "form-control")  %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :type_of_class_id %><br>
    <%= collection_select(:schedule, :type_of_class_id, TypeOfClass.all, :id, :name, prompt: false, class: "form-control")  %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :age_of_student_id %><br>
    <%= collection_select(:schedule, :age_of_student_id, AgeOfStudent.all, :id, :age, prompt: false, class: "form-control")  %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :time_in %><br>
    <%= f.time_select :time_in %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :time_out %><br>
    <%= f.time_select :time_out %>
  </fieldset>
  <div class="actions">
    <%= f.submit "Create Schedule", class: "btn btn-primary" %>
  </div>
<% end %>
