<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <%= link_to "Teachers",  teachers_path,  class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Schedules", schedules_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Type Of Class", type_of_classes_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Age Of Student", age_of_students_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Day Of Week", day_of_weeks_path, class: "nav-link" %>
    </li>
  </ul>
  
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>

</nav>